section.pre-footer-corporate.bg-gray-dark
  .container
    .row.justify-content-sm-center.justify-content-lg-start.row-30.row-md-60
      .col-sm-10.col-md-6.col-lg-10.col-xl-3
        h6 About
        p Our core values have been shaped over more than 10 years of delivering the finest construction services to our clients. They stood to the test of time and these principles remain our bedrock lynchpins. We never tried to cut on either quality, the pace of work or any other construction aspect. We stay true to our full promise of efficiency!

      .col-sm-10.col-md-6.col-lg-3.col-xl-3
        h6 Navigation
        ul.list-xxs
          li: a(href='#') About Us
          li: a(href='#') Our Team
          li: a(href='#') Our Clients
          li: a(href='#') Services
          li: a(href='#') News


      .col-sm-10.col-md-6.col-lg-5.col-xl-3
        h6 Recent Comments
        ul.list-xs
          li
            // Comment minimal
            article.comment-minimal
              p.comment-minimal__author Brian Williamson on
              p.comment-minimal__link: a(href=postLink) 667 Congress Street Project is Finished!
          li
            // Comment minimal
            article.comment-minimal
              p.comment-minimal__author Brian Williamson on
              p.comment-minimal__link: a(href=postLink) Ribbon “Cut” to Open New Bus Center
          li
            // Comment minimal
            article.comment-minimal
              p.comment-minimal__author Brian Williamson on
              p.comment-minimal__link: a(href=postLink) New Doublered Residence Facility

      .col-sm-10.col-md-6.col-lg-4.col-xl-3
        h6 Contacts
        ul.list-xs
          li
            dl.list-terms-minimal
              dt Address
              dd 4578 Marmora Road, Glasgow, D04 89GR

          li
            dl.list-terms-minimal
              dt Phones
              dd: ul.list-semicolon
                li: a(href='tel:#') (800) 123-0045
                li: a(href='tel:#') (800) 123-0045

          li
            dl.list-terms-minimal
              dt E-mail
              dd: a(href='mailto:#') info@demolink.org

          li
            dl.list-terms-minimal
              dt We are open
              dd Mn-Fr: 10 am-8 pm

='\n'

footer.footer-corporate.bg-gray-darkest
  .container
    .footer-corporate__inner
      p.rights
        span!=brandName
        span &nbsp;
        span(id="copyright-year")
        | . All Rights Reserved.

      ul.list-inline-xxs
        li: a.icon.icon-xxs.icon-primary.fa.fa-facebook(href='#')
        li: a.icon.icon-xxs.icon-primary.fa.fa-twitter(href='#')
        li: a.icon.icon-xxs.icon-primary.fa.fa-google-plus(href='#')
        li: a.icon.icon-xxs.icon-primary.fa.fa-vimeo(href='#')
        li: a.icon.icon-xxs.icon-primary.fa.fa-youtube(href='#')
        li: a.icon.icon-xxs.icon-primary.fa.fa-pinterest(href='#')