// Call to Action
section.section-sm.bg-accent.text-center
  .container
    .row.row-50.align-items-center.justify-content-center.justify-content-xl-between
      .col-xl-8.text-xl-left
        h4.heading-decoratedIf If you can envision it, then we can build it. #[br]Tell us more about your project!
      .col-xl-2.text-xl-right
        a.button.button-primary(href='#' data-toggle="modal", data-target="#contact-modal") Contact Us
='\n'
