-
  var
  brandName = 'Edifice',
  logoDefault = 'logo-130x33',
  logoDefaultRetina = 'images/logo-213x54.png 2x',
  getTemplateLink = '#',
  includeLayoutPanel = true,  
  projectCategory = 'project-category.html',
  singleProject = 'single-project.html',
  singleService = '#',
  postLink = '#',
  postSlider = '#',
  postVideo = '#',
  blogPostLink = '#',
  postQuote = '#',
  postAudio = '#',
  postImage = '#',
  videoSrc = '//www.youtube.com/embed/-AhmuMqZB0s',
  seeFeaturesLink = 'features',
  teamMember = '#',
  menu = [
    {
      title: 'Home',
      subtitle: 'Browse', 
      link: 'index.html',
      dropdown: [

        {
          title: 'Home Construction',
          link: 'index.html'
        },
        {
          title: 'Home OnePage',
          link: '#'
        }
      ]
    },
    {
      title: 'Features',
      subtitle: 'Browse',
      link: '#',
      dropdown: [
        {
          title: 'Headers',
          link: '#',
          dropdown: [
            {
              title: 'Header Default',
              link: '#'
            },
            {
              title: 'Header Default Dark',
              link: '#'
            },
            {
              title: 'Header Modern',
              link: '#'
            },
            {
              title: 'Header Creative',
              link: '#'
            },
            {
              title: 'Header Corporate',
              link: '#'
            },
            {
              title: 'Header Transparent',
              link: '#'
            },
            {
              title: 'Header Minimal',
              link: '#'
            },
            {
              title: 'Header Sidebar',
              link: '#'
            },
            {
              title: 'Header Sidebar Inverse',
              link: '#'
            }
          ]
        },
        {
          title: 'Footers', 
          link: '#',
          dropdown: [
            {
              title: 'Footer Default',
              link: '#'
            },
            {
              title: 'Footer Minimal',
              link: '#'
            },
            {
              title: 'Footer Modern',
              link: '#'
            }
          ]
        }
      ]
    },
    {
      title: 'About',
      subtitle: 'Browse',
      link: '#',
      dropdown: [
      {
        title: 'Our Team',
        link: '#'
      },
      {
        title: 'Team Member Profile',
        link: '#'
      }
      ]
    },
    {
      title: 'Services',
      subtitle: 'Browse',
      link: '#',
      dropdown: [
        {
          title: 'Single Service',
          link: singleService
        }
      ]
    },
    {
      title: 'Portfolio',
      subtitle: 'Browse',
      link: '#',
      dropdown: [ 
        {
          title: 'Portfolio 2 columns',
          link: '#'
        },
        {
          title: 'Portfolio 3 columns',
          link: '#'
        },
        {
          title: 'Portfolio 4 columns',
          link: '#'
        },
        {
          title: 'Portfolio Fullwidth',
          link: '#'
        },
        {
          title: 'Portfolio Justify',
          link: '#'
        },
        {
          title: 'Portfolio Masonry',
          link: '#'
        },
        {
          title: 'Portfolio Album',
          link: '#'
        },
        {
          title: 'Single Portfolio',
          link: 'single-#'
        }
      ]
    },
    {
      title: 'Pages',
      subtitle: 'Browse',
      link: '#',
      megamenu: [
        [
          {
            title: 'Shop',
            list: [
              {
                title: 'Shop Grid',
                link: '#'
              },
              {
                title: 'Shop List',
                link: '#'
              },
              {
                title: 'Single Product',
                link: '#'
              },
              {
                title: 'Cart',
                link: '#'
              },
              {
                title: 'Checkout',
                link: '#'
              }
            ]
          }
        ],
        [
          {
            title: 'Special Pages',
            list: [
              {
                title: '404 Page',
                link: '#'
              },
              {
                title: 'Search Results',
                link: '#'
              },
              {
                title: 'Coming Soon',
                link: '#'
              },
              {
                title: 'Privacy Policy',
                link: '#'
              }
            ]
          }
        ],
        [
          {
            title: 'Elements #1',
            text: 'Browse',
            list: [
              {
                title: 'Accordion',
                link: '#'
              },
              {
                title: 'Tabs',
                link: '#'
              },
              {
                title: 'Buttons',
                link: '#'
              },
              {
                title: 'Typography',
                link: '#'
              }
            ]
          }
        ],
        [
          {
            title: 'Elements #2',
            text: 'Browse',
            list: [
              {
                title: 'Countdown',
                link: '#'
              },
              {
                title: 'Animated Counter',
                link: '#'
              },
              {
                title: 'Number Counter',
                link: '#'
              },
              {
                title: 'Circles Counter',
                link: '#'
              }
            ]
          }
        ]
      ]
    },
    {
      title: 'Blog',
      subtitle: 'Browse',
      link: '#',
      dropdown: [
        {
          title: 'Post Formats',
          link: '#',
          dropdown: [
            {
              title: 'Standard post',
              link: postLink
            },
            {
              title: 'Nonstandard post with sidebar',
              link: '#'
            },
            {
              title: 'Nonstandard post',
              link: '#'
            },
            {
              title: 'Gallery post',
              link: postSlider
            },
            {
              title: 'Image post',
              link: postImage
            },
            {
              title: 'Link post',
              link: blogPostLink
            },
            {
              title: 'Quote post',
              link: postQuote
            },
            {
              title: 'Video post',
              link: postVideo
            },
            {
              title: 'Audio post',
              link: postAudio
            }
          ]
        },
        {
          title: 'Blog Layouts',
          link: '#',
          dropdown: [
            {
              title: 'Classic Blog',
              link: '#'
            },
            {
              title: 'Grid Blog',
              link: '#'
            },
            {
              title: 'Masonry Blog',
              link: '#'
            },
            {
              title: 'Justify Blog',
              link: '#'
            }
          ]
        },
        {
          title: 'Sidebar',
          link: '#',
          dropdown: [
            {
              title: 'Left Sidebar',
              link: '#'
            },
            {
              title: 'Right Sidebar',
              link: '#'
            },
            {
              title: 'No Sidebar',
              link: '#'
            }
          ]
        }
      ]
    },
    {
      title: 'Contacts',
      subtitle: 'Browse',
      link: '#'
    }
  ]
